html,
body {
  font: caption;
  min-width: 312.5px;
}

fieldset {
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 1em;
}

#flex {
  display: flex;
  gap: .5em;
}

#flex > * {
  flex: 1;
  width: 0;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #23222b;
    color: #fbfbfe;
  }
}
